.navbar {
    opacity: 0.8; 
}

.navbar-brand {
    color: white;   
}



.navb2 {
    font-family: 'Great Vibes', cursive;
}



#section1 {
    height: 315px; 
    width: 100%;
    background-image:url("http://i65.tinypic.com/28h06tw.jpg"); 
    background-color: white;
    background-size: contain; 
    /*background-size: cover;>*/
    background-repeat: no-repeat;
}

.shopnow {
    margin-bottom: 13px;
    padding: 20px;
    border-radius: 12px;   
}

.btn:hover {
    box-shadow: 10px 10px 5px gray;
}

.h1head {
    color: white; 
    padding-top: 40px;
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
    text-align: center;  
}

.h2head {
    color: goldenrod; 
    padding-top: 90px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px; 
    text-align: center; 
}

.sexy {
    color: red; 
}

#section2 {
    height: auto;
}


.sec2photo {
    padding-top: 20px;
    padding-bottom: 9px;

}

.caption {
    text-align: center;
    padding-top: 10px;  
}

#section3 {
    height: auto; 
    background-color: black; 
}


.general {
    font-family: 'Poiret One', cursive;
    text-align: center; 
    padding-top: 50px; 
    border-top: 1px solid black;  
}

.general p {
    text-align: center; 
}

.pcolor {
    text-align: center; 
    color: #999; 
}

.contact-details {
    color:white; 
    font-family: 'Poiret One', cursive;
    text-align: center; 
    
}


.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
	/*text-align: center;*/
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px; 
	margin: 0 0 10px;
	text-align: center;
}


.contact-info li {
    display: block;
    

}

.contact-info li a  {
    color: #999;
}




.panel-footer {
    text-align: center; 

} 

/*************ABOUT PAGE********************/

#section1about {
    padding-top:60px; 
    height: 380px; 
    width: 100%;
    background-color: white;
    background-image:url("http://i65.tinypic.com/25arls4.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;  
}

.aboutme {
    padding-top: 10px; 
    text-align: center; 
}

/*******************CONTACT PAGE************/


#section1contact {
    padding-top: 20px; 
    height: 550px; 
}

.contp {
    padding-top: 20px; 
}

.conth4 {
    font-size: 12px; 
}

#message {
    padding:60px; 
}

/************SHOP PAGE *****************/

.shop1 {
    padding-top: 30px; 
}

