#section1 {
    height: 750px; 
    background-image:url("http://i68.tinypic.com/jpg7pc.jpg"); 
    background-color: black;
    background-size: cover; 
    background-repeat: no-repeat;
}

.but1 {
    margin-left: 560px;
    margin-top: 250px;
}

.h1head {
    color: black; 
    padding-top: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    text-align: center;  
}

.h2head {
    color: black; 
    padding-top: 90px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px; 
    text-align: center; 
}

.sexy {
    color: red; 
}

#section2 {
    height: 700px;
}

#section3 {
    height: 500px; 
    background-color: gray
}

.grid {
    padding: 0;
  }
  .grid > div {
    margin: 0;
    padding: 0;
  }

