/************iphone 7 and 8 plus ************************/

@media only screen 
and (min-width: 414px)
and (max-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait){
    #section1 {
        height: 315px; 
        width: 100%;
        background-image:url("http://i65.tinypic.com/28h06tw.jpg"); 
        background-color: white;
        /*background-size: contain;*/ 
       background-size: cover;
        background-repeat: no-repeat;
    }


    #section1contact {
        padding-top: 20px; 
        height: 610px; 
       
    }
    
    .contp {
        padding-top: 40px;
        padding-bottom: 10px;  

    }

    .about-photo {
        padding-left: 30px; 
    }

} 

@media screen and (min-width: 769px){

    #section1 {
        min-height: 978px; 
        width: 100%;
        background-image:url("http://i65.tinypic.com/2ih6jrr.jpg"); 
        background-color: black;
        background-size: cover; 
        /*background-size: cover;>*/
        background-repeat: no-repeat;
    }
    #section1contact{
        height: auto;
}

.contp {
    font-size: 30px; 
    padding-top: 30px; 
    padding-bottom: 10px; 
}


}

/*******************iMAC PRO LAPTOP *******************************/

@media screen and (min-width: 1025px){
    #section1contact{
        height: auto;

    }
    #section1 {
        min-height: 978px; 
        width: 100%;
        background-image:url("http://i65.tinypic.com/2ih6jrr.jpg"); 
        background-color: black;
        background-size: cover; 
        /*background-size: cover;>*/
        background-repeat: no-repeat;
    }

    .about-photo {
        padding-left: 30px;  
        padding-bottom: 20px; 
        padding-top: 20px; 
    }


.about-head {
    padding: 10px 5px 10px 5px;
    margin-top: 30px; 
    background-color:#CACFD2;
    opacity: 0.5;  

}

.aboutme{
    padding-top: 10px; 
}

.about-me{
    padding-bottom: 50px; 

}
    .contp {
        font-size: 40px; 
        padding-top: 40px;
        padding-bottom: 10px;  

    }

    .before-foot {
        padding-bottom: 35px; 
    }

    .contact-info li {
        padding-top: 15px; 
        padding-bottom: 30px; 
        display: inline-block;
}

.contact-info a {
	 
	padding: 0 0 0 30px; 
	margin: 0 0 10px; 
	text-align: center;
}

.contactDetails {

    display: table; 
    margin: 0 auto; 
}

}






/*******************ipad pro*******************************/

@media only screen 
    and (min-width:1024px)
    and (max-width:1366px)
    and (-webkit-min-device-pixel-ratio: 2){
        #section1 {
            height: 315px; 
            width: 100%;
            background-image:url("http://i65.tinypic.com/28h06tw.jpg"); 
            background-color: white;
            background-size: cover; 
            /*background-size: cover;>*/
            background-repeat: no-repeat;
        }
        .conth4 {
            padding-bottom: 300px; 
            
        }
    
    
    }



@media screen and (min-width: 660px) {
    #section1 {
        min-height: 978px; 
        width: 100%;
        background-image:url("http://i65.tinypic.com/28h06tw.jpg"); 
        background-color: black;
        background-size: cover; 
        /*background-size: cover;>*/
        background-repeat: no-repeat;
    }
    .h1head {
        color: white; 
        padding-top: 50px;
        font-family: 'Great Vibes', cursive;
        font-size: 80px;
        text-align: center;  
    }


}

/*******************DESK TOP *******************************/

@media screen and (min-width: 1903px){

.about-photo{
    padding-top: 45px; 
    padding-left: 125px; 

}

.about-me{
    padding-bottom: 90px; 

}

.about-head {
    font-size: 40px; 
}

.conth4{
    padding-bottom: 40px; 
}

.contact-info li {
    /* padding-left: 360px;  */
    padding-top: 15px; 
    padding-bottom: 30px; 
    display: inline-block;
}

.contactDetails {

    display: table; 
    margin: 0 auto; 
}

.before-foot {
    padding-bottom: 220px; 
}

}